<a href="https://colab.research.google.com/github/maxstonne/TechSolutions/blob/main/Projetos%20(n%C3%A3o%20acabados)/Modelagem_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# Conectar ao banco de dados (ou criar se não existir)
conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

# Criar tabelas
cursor.execute('''
CREATE TABLE IF NOT EXISTS Departamento (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Funcionario (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    cargo TEXT NOT NULL,
    salario REAL NOT NULL,
    departamento_id INTEGER,
    FOREIGN KEY (departamento_id) REFERENCES Departamento(id)
)
''')

# Inserir dados nas tabelas
cursor.executemany('INSERT INTO Departamento (nome) VALUES (?)',
                   [('Recursos Humanos',), ('Desenvolvimento',)])

cursor.executemany('INSERT INTO Funcionario (nome, cargo, salario, departamento_id) VALUES (?, ?, ?, ?)',
                   [('Alice', 'Analista de RH', 5000.0, 1),
                    ('Bob', 'Desenvolvedor', 7000.0, 2)])

# Consultar e imprimir dados
cursor.execute('SELECT * FROM Departamento')
print("Departamentos:\n", cursor.fetchall())

cursor.execute('SELECT * FROM Funcionario')
print("\nFuncionários:\n", cursor.fetchall())

# Fechar a conexão
conn.commit()
conn.close()

Departamentos:
 [(1, 'Recursos Humanos'), (2, 'Desenvolvimento')]

Funcionários:
 [(1, 'Alice', 'Analista de RH', 5000.0, 1), (2, 'Bob', 'Desenvolvedor', 7000.0, 2)]

In [ ]:
import sqlite3

# Conectar ao banco de dados (ou criar se não existir)
conn = sqlite3.connect('vendas_dimensional.db')
cursor = conn.cursor()

# Criar tabelas de dimensão
cursor.execute('''
CREATE TABLE IF NOT EXISTS Produto (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    categoria TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Cliente (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    cidade TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Tempo (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    data DATE NOT NULL,
    ano INTEGER NOT NULL,
    mes INTEGER NOT NULL,
    dia INTEGER NOT NULL
)
''')

# Criar tabela de fatos
cursor.execute('''
CREATE TABLE IF NOT EXISTS Vendas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    produto_id INTEGER,
    cliente_id INTEGER,
    tempo_id INTEGER,
    quantidade INTEGER NOT NULL,
    valor_total REAL NOT NULL,
    FOREIGN KEY (produto_id) REFERENCES Produto(id),
    FOREIGN KEY (cliente_id) REFERENCES Cliente(id),
    FOREIGN KEY (tempo_id) REFERENCES Tempo(id)
)
''')

# Inserir dados nas tabelas de dimensão
cursor.executemany('INSERT INTO Produto (nome, categoria) VALUES (?, ?)',
                   [('Laptop', 'Eletrônicos'), ('Cadeira', 'Móveis')])

cursor.executemany('INSERT INTO Cliente (nome, cidade) VALUES (?, ?)',
                   [('João Silva', 'São Paulo'), ('Maria Oliveira', 'Rio de Janeiro')])

cursor.executemany('INSERT INTO Tempo (data, ano, mes, dia) VALUES (?, ?, ?, ?)',
                   [('2024-01-01', 2024, 1, 1), ('2024-01-02', 2024, 1, 2)])

# Inserir dados na tabela de fatos
cursor.executemany('INSERT INTO Vendas (produto_id, cliente_id, tempo_id, quantidade, valor_total) VALUES (?, ?, ?, ?, ?)',
                   [(1, 1, 1, 2, 3000.00), (2, 2, 2, 1, 500.00)])

# Consultar e imprimir dados
cursor.execute('SELECT * FROM Produto')
print("Produtos:\n", cursor.fetchall())

cursor.execute('SELECT * FROM Cliente')
print("\nClientes:\n", cursor.fetchall())

cursor.execute('SELECT * FROM Tempo')
print("\nTempo:\n", cursor.fetchall())

cursor.execute('SELECT * FROM Vendas')
print("\nVendas:\n", cursor.fetchall())

# Fechar a conexão
conn.commit()
conn.close()

Produtos:
 [(1, 'Laptop', 'Eletrônicos'), (2, 'Cadeira', 'Móveis')]

Clientes:
 [(1, 'João Silva', 'São Paulo'), (2, 'Maria Oliveira', 'Rio de Janeiro')]

Tempo:
 [(1, '2024-01-01', 2024, 1, 1), (2, '2024-01-02', 2024, 1, 2)]

Vendas:
 [(1, 1, 1, 1, 2, 3000.0), (2, 2, 2, 2, 1, 500.0)]